@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 650px;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.container {
    background-color: hsl(0, 0%, 100%);
    max-width: 300px;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 20px;
}

.container img {
    max-width: 100%;
    border-radius: 7px;
    margin-bottom: 10px;
}

.container h3{
    text-align: center;
    color: hsl(218, 44%, 22%);
    margin-bottom: 10px;
}

.container p{
    text-align: center;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    margin: 0px 5px 10px;

}

.attribution { 
    font-size: 11px; 
    text-align: center;  
}

.attribution a { color: hsl(228, 45%, 44%); }
  