@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root{
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsla(217, 12%, 63%, 20%);
    --LightGreyText: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
    --font: 'Overpass', sans-serif;
}

*, *::after, *::before{
    box-sizing: border-box;
    font-family: var(--font);
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--VeryDarkBlue);
    color: var(--White);
    min-height: 100vh;
}

.container{
    max-width: 375px;
    background-color: var(--DarkBlue);
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
}

.container .img img{
    padding: 10px;
    border-radius: 20px;
    background-color: var(--LightGrey);
}

.container h2{
    padding: 0;
    margin-top: 1.2rem;
}

.container p{
    font-size: 15px;
    color: var(--LightGreyText);
}

.container .rating-list{

    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1.2rem;
}

.container .list-element{
    background-color: var(--LightGrey);
    padding: 15px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.list-element:hover{
    background-color: var(--Orange);
}

.container .submit-button{
    margin-top: 1.5rem;
    background-color: var(--Orange);
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.submit-button:hover{
    background-color: var(--White);
    color: var(--Orange);
}


/* Thankyou state section */

.thank-you{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 375px;
    background-color: var(--DarkBlue);
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
    
}

.hidden{
    display: none;
}

.svg-2{
    height: 90%;
}

.rating-comment{
    object-fit: fill;
    margin-top: 1rem;
    font-size: 13px;
    color: var(--Orange);
    padding: 10px;
    border-radius: 20px;
    background-color: var(--LightGrey);
}

.thank-you h2{
    padding: 0;
    margin-top: 1.2rem;
}

.thank-you p{
    font-size: 15px;
    color: var(--LightGreyText);
    text-align: center;
    margin: 0;
    margin-bottom: 1rem;
}

.active{
    background-color: var(--Orange) !important;
}

/* Footer Section */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
