@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 650px;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    
}

.card{
    /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    */
    background-color: hsl(216, 50%, 16%);
    max-width: 375px;
    border-radius: 20px;
    padding: 25px;
    margin-bottom: 20px;
}

/*.card .firstClass .image div {
    position: absolute;
    top: 0;
    background-color: hsl(178, 100%, 50%, 60%);
    width: 100%;
    height: calc(100% - 4px);
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
.card .firstClass .image div:hover {
    opacity: 1;
    cursor: pointer;
  }
  */

.image{
    max-width: 100%;
    border-radius: 7px;
    margin-bottom: 10px;
}


.card h3{
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    margin-bottom: 15px;
}

.card h3:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.card p{
    color: hsl(215, 51%, 70%);
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
}  

.card ul{
    list-style-type: none;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 20px 0px;
}

.card  ul li {
    display: flex;
    align-items: center;
  }
  
.card ul li:first-child {
color: hsl(178, 100%, 50%);
}

.card ul li img {
margin-right: 5px;
}


.creator ul {
    list-style-type: none;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid hsl(215, 32%, 27%);
}

.creator li img{
    width: 2.5rem;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    margin-right: 15px;
}

.creator span {
    color:hsl(0, 0%, 100%);
    margin-left: 5px;
}

.creator span:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
  }

.attribution {
     font-size: 11px; 
     text-align: center; 
     color: white;
    }

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

